## installed instance of the zenflows backend
ZENFLOWS_URL="https://zenflows-test.interfacer.dyne.org/api"

# a user and SK for the bank on the zenflows backend
ZENFLOWS_USER=...
ZENFLOWS_SK=...

## tarantool database where points are stored
TT_HOST="localhost:3500"
TT_USER=...
TT_PASS=...
# this may require an ssh tunnel in production

# ERC20 address of our coin
FABCOIN=...

# explorer of the blockchain for the tx broadcast
ETHEREUM_URL="https://rpc-mumbai.maticvigil.com"
# secret key of the bank, owner of the coin genesis
ETHEREUM_SK=...
