ZENFLOWS_URL="https://zenflows-test.interfacer.dyne.org/api"
TT_HOST="localhost:3500"
TT_USER=...
TT_PASS=...
FABCOIN=...
ZENFLOWS_USER=...
ZENFLOWS_SK=...
ETHEREUM_URL="https://rpc-mumbai.maticvigil.com"
ETHEREUM_SK=...
